.sw-page {
    &.has--leave-impersonation-button {
        .sw-page__top-bar-actions {
            justify-content: space-evenly;
            align-items: center;

            @media screen and (max-width: 700px) {
                button {
                    z-index: 800;
                    border-radius: 0;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
