.sw-page {
    &.has--leave-impersonation-button {
        .sw-page__top-bar-actions {
            justify-content: space-evenly;
            align-items: center;

            .impersonation-btn {
                z-index: 800;
                max-width: 100px;
                margin-right: 10px;

                .sw-button__content {
                    word-break: break-word;
                    white-space: pre-wrap;
                }
            }

            @media screen and (max-width: 1400px) {
                .impersonation-btn {
                    max-width: initial;
                    border-radius: 0;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
